# Create:      201*/**/** **:**:**
# Last Change: 2021/03/07 10:29:07.

*.dbm
*.dump
*.exe
*.log
*.png
*.pyo
*.spec

judgesound.py
savedata.py
serialcommun.py

judge_log.txt

./
LogImage/
__pycache__/
build/
dist/
old/
MasterImage/

!trim_test.png
